h1{
  font-size: 2rem;
  }
  
  
  *{margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  
  body{
      width: 100vw;
      height: 100vh;
      background-color: #D6E2F0;
       display: flex;
       justify-content: center;
       align-items: center;
  }
  
  .qr_container{
      width: 40%;
      height: auto;
      background-color: white;
         border-radius: .5rem;
         display: flex;
         justify-content: center;
         align-items: center; 
         box-shadow: 10px 10px 20px rgb(230, 177, 218); 
  }

    .qr_container:hover{
     background-color: black;
     color: white;
     transition: 2s ease ;
     cursor: pointer;
     box-shadow:   6px 6px 20px 10px rgb(255, 255, 255); 
  }
  
  
  
  .left_container{
      width: 50%;
     padding: 5rem 2rem 5rem 2rem;
  }
  
  .left_container h2{
      font-size: 1.5rem;
      text-align: center;
      font-family: sans-serif;
      font-weight: 5500;
     
  }
  
  .left_container p{
      font-size: 1.1rem;
      text-align: center;
       margin-top: 1rem;
       color: #b0b0b0;
       font-weight: 400;
       font-family: sans-serif;
  }
  
  
  .right-container{
      background-color: #F2D7FF;
      width: 50%;
      padding: 2rem 0 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      border-radius: .5rem;
    
  }
  
  .right-container img{
      width: 180px;
      height: 180px;
      
  }

/* media quary for mobile  */

@media (max-width:450px) {
  .qr_container{
      width: 80%;
      height: auto;
      flex-direction: column;
  }
  
  
  
  .left_container{
      width: 90%;
     padding: 2rem 2rem 1rem 2rem;
     font-size: .5rem;
  }
    
  .right-container{
      background-color: #F2D7FF;
      width: 70%;
      margin-bottom: 2rem;
  }

  .right-container img{
    width: 150px;
    height: 150px;
    
}

} 

/* media quary for mobile  */

 @media (min-width:451px) and (max-width:767px) {
  .qr_container{
      width: 70%;
      height: auto;
      flex-direction: column;
  }

  .left_container{
      width: 80%;
      height: auto;
     padding: 2rem 2rem 2rem 2rem;
  }

  .left_container h2{
    font-size: 2rem;
}

.left_container > p{
  font-size: 1.3rem;
}
    
  .right-container{
      background-color: #F2D7FF;
      width: 70%;
      height: 80%;
      margin-bottom: 2rem;
  }

  .right-container img{
    width: 220px;
    height: 220px;
    
}
}

/* media queary for tablet screen only */
@media (min-width:768px) and (max-width:1023px) {
  .qr_container{
      width: 70%;
      height: auto;
      flex-direction: column;
  }

  .left_container{
      width: 70%;
      height: auto;
     padding: 2rem;
     margin-bottom: 1rem;
  }

  .left_container h2{
    font-size: 2.5rem;
}

.left_container > p{
  font-size: 1.8rem;
}
    
  .right-container{
      background-color: #F2D7FF;
      width: 60%;
      height: auto;
      margin-bottom: 2rem;
  }
  .right-container img{
    width: 240px;
    height: 240px;
    
}
}